<div class="dashboard center-x">
	<div>
		<h1>Dashboard</h1>
	</div>
	<div>
		<mat-tab-group>
	  	<mat-tab label="Components">
		      <mat-table #table [dataSource]="dataSource">

			    <!-- Name Column -->
			    <ng-container matColumnDef="name">
			      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
			      <mat-cell *matCellDef="let component" (click)="openDialog(component)"> {{component.name}} </mat-cell>
			    </ng-container>

			    <!-- Type Column -->
			    <ng-container matColumnDef="type">
			      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
			      <mat-cell *matCellDef="let component" (click)="openDialog(component)"> {{component.type}} </mat-cell>
			    </ng-container>

			    <!-- Clients Column -->
			    <ng-container matColumnDef="clients">
			      <mat-header-cell *matHeaderCellDef> Clients </mat-header-cell>
			      <mat-cell *matCellDef="let component" (click)="openDialog(component)"> {{component.clients}} </mat-cell>
			    </ng-container>

			    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			  </mat-table>

			  <mat-paginator #paginator
			                 [pageSize]="10"
			                 [pageSizeOptions]="[5, 10, 20]"
			                 [showFirstLastButtons]="true">
			  </mat-paginator>
		  </mat-tab>
		  <mat-tab label="Analytics">
		    <h2 class="text-center">Coming soon...</h2>
		  </mat-tab>
		</mat-tab-group>
	</div>
</div>

<div class="top-menu">
	<button mat-icon-button [matMenuTriggerFor]="menu">
		<fa name="bars" size="2x"></fa>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item disabled>
	  	<span>Settings</span>
  	</button>
	  <button mat-menu-item (click)="logOut()">
	  	<span>Logout</span>
  	</button>
	</mat-menu>
</div>
